div#message_area {
    height: 30px;
}

div#category_area {
    height: 25px;
}

span.category-elements {
    border: solid thin black;
    background-color: gold;
    margin: 0px 10px;
    padding: 0px 5px;
    border-radius: 10px;
    font-size: small;
}

#answer.english {
    font-family: 'Noto Sans Mono', monospace;
}

footer,.push {
    height: 25px;
}
.left{
    position: absolute;/*←絶対位置*/
    left: 0px;
}

.right{
    position: absolute;/*←絶対位置*/
    right: 10px;
}

#wrapper {
    min-height: 100%;
    /* フッタの高さと等しいネガティブマージン */
    /* また最後の子要素の潜在的なマージンとしても機能 */
    margin-bottom: -25px;
}

table#search_result_table, table#search_result_table td, table#search_result_table th {
    border: 1px #808080 solid;
}

.query_word {
    color: orangered;
    font-weight: 900;
}

table#search_result_table {
    width: 100%;
    table-layout: fixed;
}

.table_sentense {
    width: 40%;
}

.table_answer {
    width: 40%;
}

.table_id {
    width: 5%;
}